@import 'react-notifications/lib/notifications.css';
*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #ededed;
}
.HomeContainer{
  padding: 0 100px;
}
.topnavbar{
  padding: 2px 100px;
  background-color: #FE5102;
  color: white;
}
.subNav{
  display: flex;
  justify-content:center;
  gap: 50px;
  align-items: center;
  background-color:white;
  padding: 15px 0 15px 0;
}
.logo{
  display: flex;
  gap: 5px;
}
.BearGearLogo{
  width: 100px;
  height: auto;
}
.searchBar{
  width: 600px;
}
.navbar{
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #FE5102;
}
.header{
  margin-bottom: 20px;
  
}
.header-carousel img{
  min-height: 75vh;
  max-height: 75vh;
}
.heade-left h2{
  font-size: 45px;
  margin-bottom: 20px;
}
.backpack{
  color: #FE5102;
}
.heade-left p{
  font-size: 20px;
  margin-bottom: 20px;
}
.seatBtn{
  background-color:#FE5102 ;
  padding: 15px;
  border: none;
  border-radius: 15px;
  color: white;
}

.support{
  margin:40px 0 0px 0 ;
  background-color: #EDEDED;
  text-align: center;
  padding: 30px 0 30px 0;
}
.support h2{
  margin-bottom: 20px;
}
.topProductImg{
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}

/* home product */
.homeProduct{
   margin-top: 50px;
   margin-bottom:20px;
}

.homeProduct h2{
  color:black;
  margin-top: 20px;
  margin-bottom:20px;
}
/* product card */
.productCardHome .productCard{
  width: 230px;
}
.productCardHome .productCard img{
  max-height: 220px;
  min-height: 220px;
  width: 100%;
  padding: 15px 10px 1px 10px
}
.productCardHome .productCard .productTitle{
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}
.delPrice{
  margin-right:10px ;
}
.productSeatBtn{
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}

/* top rated product */
.top-rated-carousel-item{
  padding: 10px 100px;
}

.touchSection h2{
  text-align: center;
  margin: 100px 0 50px 0;
}
.reviewSection{
  background-color: #EDEDED;
  padding:30px 0 30px 0 ;
}
.reviewSection h2{
  color: #FE5102;
  padding:40px 0 40px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.reviewDetails{
  
}

.reviewCard{
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;

}
.reviewCard .cardImg{
  width: 50%;
 
}


.reviewCard img{
  width:100%;
  height: auto;
}



/* Login.css */


.login-card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 60%;
  
}


.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}
.register-card{
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 35%;
}

/* .viewBtn{
  display: none;
}
.productCard Col:hover{
  display:inline;
} */

/* components/SocialIcons.css */
.social-icons-container {
  position: fixed;
  top: 50%; /* Adjust to position vertically in the middle */
  right: 0; /* Adjust to position on the right side */
  transform: translate(0, -50%);
  z-index: 10;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust as needed */
  background-color: #fff; /* Optional background color for the icons */
  padding: 10px; /* Optional padding for the icons */
  border-radius: 8px; /* Optional border radius for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for the container */
}

/* components/SocialIcons.css */
.twitter-icon {
  background-color: #1da1f2; /* Twitter blue */
  color: white; /* White icon color */
  border: none;
}

.facebook-icon {
  background-color: #1877f2; /* Facebook blue */
  color: white; /* White icon color */
  border: none;
}

.instagram-icon {
  background-color: #e4405f; /* Instagram pink */
  color: white; /* White icon color */
  border: none;
}

/* product list table */
.table-container {
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

/* footer */
.footerLink a{
  color: white;
}
.footerProfile a{
  color: white;
}

/* product card */
/* .productCard{
  width: 210px;
}
.productCard img{
  height: 200px;
  width: auto;
  padding: 15px 10px 1px 10px
} */
.productCard .productTitle{
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}
.smallDeviceSideNavbar{
  display: none;
}

@media (min-width: 768px) {
  .login-card {
    margin: 40px 0; /* Add some margin on larger screens */
  }

 
}





@media screen and (max-width:576px){
  .topnavbar{
    padding: 2px 20px;
    background-color: #FE5102;
    color: white;
  }
  .subNav{
    display: flex;
    justify-content:center;
    gap: 20px;
    align-items: center;
    background-color:white;
    padding: 10px 0 10px 0;
  }
  .BearGearLogo{
    width: 50px;
    height: auto;
  }
  .searchBar{
    width: 200px;
  }
  .HomeContainer{
    padding: 0 0;
  }
  .header{
    margin-top: 1px;
    text-align: center;
    padding: 20px;
    
  }
  .heade-left h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .beargearName{
    display: none;
  }
  .navService{
    display: none;
  }
  
  .login-card {
   
    width: 100%;
    margin: 30px 0;
    
  }
  .heade-left h2{
    font-size:25px;
  }
  .heade-left p{
    font-size:15px;
    padding: 15px;
  }
  .heade-left .seatBtn{
    font-size:15px;
  }
  .header-carousel{
    margin-top: 1px;
  }
  .header-carousel img{
    min-height: 30vh;
    max-height: 30vh;
  }
  .LargeDeviceSideNavbar{
    display: none;
  }
  .smallDeviceSideNavbar{
    display: flex;
    justify-content:space-evenly;
  }
  .topProductImg{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
  }
  /*home product card */
  .homeProduct{
    margin-top: 50px;
    margin-bottom:20px;
    padding:5px;
 }
.productCardHome .productCard{
  width: 160px;
}
.productCardHome .productCard img{
  max-height: 180px;
  min-height: 180px;
  width: 100%;
  padding: 15px 10px 1px 10px
}
  /* product card */
.filterProduct .productCard{
  width: 160px;
}

.filterProduct .productCard img{
  max-width: 180px;
  min-width: 180px;
  max-height: 150px;
  min-height: 150px;
}

/* top rated product */
.top-rated-carousel-item{
  padding:5px 10px;
}
 
}